# Node environment
NODE_ENV=

# Express server
PORT=

# Middleware
FRONTEND_URL=

# PostgreSQL configuration
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Authentication tokens
JWT_SECRET=
REFRESH_TOKEN_DAYS=